@import './variable.scss';

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin btn-box {
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 16px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-size: 14px;
}

@mixin error-box {
  display: flex;
  align-items: baseline;
  word-wrap: break-word;
  color: $error-text;
  margin-left: 2px;
  top: 2px;
  position: relative;
  font-size: $fourteenpx;
}

@mixin label-field {
  padding-right: $sixteenpx;
  min-width: 25%;
  font-weight: 600;
  font-size: $label-reg;
  color: $label;
  text-align: right;
  align-self: center;
}

@mixin vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-field{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: $fourteenpx;
  line-height: 24px;
  background-clip: padding-box;
  border: 1px solid $border-grey;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}