// Variables for colors
$input-color: #2a2c2e;
$primary-color: #173892;
$base-color: #FBFBFB;
$darkpurple: #4b286d;
$blue: #007bff;
$darkblue: #173892;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$dimgreen: #177a00;

$header-base: #4b286d;
$tab-base: #d8d8d8;
$btn-base: #248700;
$form-border: #71757b;
$label: #2a2c2e;
$placeholder: rgba(42, 44, 46, 0.5);
$black-light: rgba(0, 0, 0, 0.5);
$error-text: #c12335;
$error-bg: #fff6f8;
$input-text: #495057;
$border-grey: #ced4da;
$btn-border: #177a00;
$shade: #ececec;
$toast-msg-color: #f7f7f8;
$progress-bar-transy-color: rgba(255, 255, 255, 0.43);
$progress-bar-bg-color: #248700;
$inputLabel: #2a2c2e;


// Units variables
$heading-reg: 20px;
$sub-heading-med: 16px;
$label-reg: 14px;
$text-light: 14px;
$fourpx: 4px;
$eightpx: 8px;
$tenpx: 10px;
$twelvepx: 12px;
$fourteenpx: 14px;
$sixteenpx: 16px;
$two-four: 24px;
$px48: 48px;
$width-dsktop-btn: 229px;
$common-padding-bottom: 8px;

$card-width: 380px;

$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;