@import '../../../resources/scss/variable.scss';
@import '../../../resources/scss/mixins.scss';

.button-box {
  &__button {
    @include btn-box;
  }
  &__btn-group {
    margin: 24px 0;
  }
}

.submit {
  border: 1px solid $btn-border;
  color: $white;
  background-color: $btn-base;
}

.cancel {
  border: 1px solid $btn-base;
  color: $btn-border;
  background-color: $white;
}
